<div class="bg-white p-4 rounded-2xl border border-nutri-rose/5 shadow-sm hover:border-nutri-rose/20 transition-all duration-300 h-full flex flex-col justify-center">
  <span class="text-[9px] font-bold text-nutri-rose/40 uppercase tracking-widest block mb-1">
    {{ label() }}
  </span>
  
  @if (!isEditing()) {
    <p class="text-md font-bold text-nutri-text">
      {{ value() ? (type() === 'date' ? (value() | date:'dd/MM/yyyy') : value()) : '---' }}
      @if (value() && suffix()) {
        <span class="text-[10px] text-nutri-text/40 ml-1 font-medium">{{ suffix() }}</span>
      }
    </p>
  } @else {
    <app-input 
      [type]="type()"
      [value]="value()"
      [placeholder]="placeholder()"
      [customClass]="'!h-8 !border-none !bg-nutri-rose/5 !px-2 !font-bold !text-sm'"
      (valueChange)="onValueChange($event)">
    </app-input>
  }
</div>
